* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
   text-align: center;
}

.main-banner {
    height: 800px;
    width: 100%;
    background-image: url(../images/crater-2700.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #3B413C;
    text-align: center;
}

.navigation {
    height: 110px;
    width: 100%;
}

.my-info {
    height: 550px;
    width: 45%;
    text-align: center;
    display: inline-block;
    font-family: 'Helvetica';
    color: white;
}

.my-picture {
    height: 35%;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 15px;
}

.more-information-section {
    width: 750px;
    height: 425px;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
}

.info-section-header-div {
    text-align: center;
    width: 100%;
}

.info-section-header-text {
    font-family: 'Helvetica';
    font-size: 36px;
    margin-top: 25px;
}

.info-section-bio-div {
    text-align: center;
    font-family: 'Helvetica';
    width: 100%;
    display: inline-block;
    margin-top: 24px;
    font-weight: 350;
}

.progress-bars {
    width: 100%;
    height: 180px;
    margin-top: 65px;
    background-color: white;
}

.progress-border {
    background-color: lightgrey;
}

.progress-bar-internal {
    height:8px;
    background-color:blue;
}

.progress-right {
    text-align: left;
    width: 25%;
    float: right;
}


.progress-right-h4 {
    font-family: 'Helvetica';
    background-color: white;
    font-size: 24px;
}

.progress-right-h6 {
    font-family: 'Helvetica';
    background-color: white;
    font-weight: 350;
    font-style: italic;
}

.progress-center {
    margin-left: 12.5%;
    text-align: left;
    width: 25%;
    float: left;
}


.progress-center-h4 {
    font-family: 'Helvetica';
    background-color: white;
    font-size: 24px;
}

.progress-center-h6 {
    font-family: 'Helvetica';
    background-color: white;
    font-weight: 350;
    font-style: italic;
}

.progress-left {
    background-color: blue;
    text-align: left;
    width: 25%;
    float: left;
}

.progress-left-h4 {
    font-family: 'Helvetica';
    background-color: white;
    font-size: 24px;
}

.progress-left-h6 {
    font-family: 'oboto';
    background-color: white;
    font-weight: 350;
    font-style: italic;
}


.progress-right-bottom {
    text-align: left;
    width: 25%;
    float: right;
}


.progress-right-bottom-h4 {
    font-family: 'Helvetica';
    background-color: white;
    font-size: 24px;
}

.progress-right-bottom-h6 {
    font-family: 'Helvetica';
    background-color: white;
    font-weight: 350;
    font-style: italic;
}


.progress-center-bottom {
    margin-left: 12.5%;
    text-align: left;
    width: 25%;
    float: left;
}

.progress-center-bottom-h4 {
    font-family: 'Helvetica';
    background-color: white;
    font-size: 24px;
}

.progress-center-bottom-h6 {
    font-family: 'Helvetica';
    background-color: white;
    font-weight: 350;
    font-style: italic;
}


.progress-left-bottom {
    text-align: left;
    width: 25%;
    float: left;
}

.progress-left-bottom-h4 {
    font-family: 'Helvetica';
    background-color: white;
    font-size: 24px;
}

.progress-left-bottom-h6 {
    font-family: 'Helvetica';
    background-color: white;
    font-weight: 350;
    font-style: italic;
}



.extender {
    width: 100%;
    height: 1000px;
    background-color: white;
}

.bottom {
    margin-top: 25px;
}

.social-medias {
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    height: 75px;
    text-align: center;
}

.social-image {
    width: 20px;
    height: 20px;
}

.pad-right {
    padding-right: 10px;
}

.pad-left {
    padding-left: 10px;
}

.grow:hover {
    z-index: 5;
    transform: scale(1.2);
}

.relevant-links {
    width: 100%;
    background-image: url(../images/bridge-blur.jpg);
    background-color: #d2b48c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 400px;
    text-align: center;
    margin-top: 5px;
	text-align: center;
}

.container-rel {
    width: 1200px;
    height: 250px;
    background-color: transparent;
    display: inline-block;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.grow-links:hover {
    z-index: 5;
    transform: scale(1.05);
	transition: 0.35s all;
	opacity: 0.95;
}

.z-1 {
    z-index: 1;
}

.left-h4 {
    margin-top: 50%;
}

.grid-container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	background-color: transparent;
	padding: 20px;
	margin-top: 30px;
}

.grid-container > div {
    background-color: black;
	opacity: 0.5;
    text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-radius: 10px;
	transition: 0.35s all;
}

.rel-link-header-text {
    font-family: 'Helvetica';
    font-size: 36px;
	margin-bottom: 0;
	margin-top: 20px;
	color: white;
}

.grid-inside-headers {
	font-family: 'Helvetica';
	font-size: 24px;
	display: inline-block;
	color: white;
	margin-top: 40px;
}